<h2>Gebt eure Namen ein</h2>
<form>
    <div class="form-group">
        <label>IT-Girl 1</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="data[main.routeParams.teamId]['name1']" ng-model-options="{debounce:{'default': 500}}">
    </div>
    <div class="form-group">
        <label>IT-Girl 2</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="data[main.routeParams.teamId]['name2']" ng-model-options="{debounce:{'default': 500}}">
    </div>
    <div class="form-group">
        <label>IT-Girl 3</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="data[main.routeParams.teamId]['name3']" ng-model-options="{debounce:{'default': 500}}">
    </div>
    <div class="form-group">
        <label>IT-Girl 4</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="data[main.routeParams.teamId]['name4']" ng-model-options="{debounce:{'default': 500}}">
    </div>
    <div class="form-group">
        <label>IT-Girl 5</label>
        <input type="text" class="form-control" placeholder="Name" ng-model="data[main.routeParams.teamId]['name5']" ng-model-options="{debounce:{'default': 500}}">
    </div>
    <a ng-href="#!/{{main.routeParams.teamId}}/questions"><div class="btn btn-success full-width">Weiter</div></a>
</form>