<h2>Beantwortet soviele Fragen wie ihr könnt</h2>
<form>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q1']" ng-model-options="{debounce:{'default': 500}}"></textarea>
    </div>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q2']" ng-model-options="{debounce:{'default': 500}}"></textarea>
    </div>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q3']" ng-model-options="{debounce:{'default': 500}}"></textarea>
    </div>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q4']" ng-model-options="{debounce:{'default': 500}}"></textarea>
    </div>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q5']" ng-model-options="{debounce:{'default': 500}}"></textarea>
    </div>
</form>