<h2>Beantwortet soviele Fragen wie ihr könnt</h2>
<form>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q1']"></textarea>
    </div>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q2']"></textarea>
    </div>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q3']"></textarea>
    </div>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q4']"></textarea>
    </div>
    <div class="form-group">
        <label>Hier steht eine Frage ...</label>
        <textarea rows="3" class="form-control" placeholder="Antwort" ng-model="data[main.routeParams.teamId]['q5']"></textarea>
    </div>
</form>